<!DOCTYPE html>
<html lang="en">
<head>
<base href="__PUBLIC__/">
	<meta charset="UTF-8">
	<title>注册信息</title>
	<!-- 引入时间插件 -->
    <script type="text/javascript" src="javascript/time/js/laydate.js"></script>
    <script type="text/javascript" src="javascript/skin/js/basesong.js"></script>

	<link rel="stylesheet" href="javascript/skin/css/content.css" type="text/css" />
</head>
<body>
	<div class="content">
		<div class="GetNav">
			<p style="height:24px;">&nbsp;用户预约购买信息&nbsp;</p>
		</div> 
		<form action="{:url('add')}" method="post" onsubmit="return checkname()">
			 
			{if condition="isset($dealer_info[0]['dealer_id'])"}
				<input type="text" style="display: none;" name="dealer_id" value="{$dealer_info.0.dealer_id}">
				 
			{/if}
			<table width='98%'  border='0' cellpadding='1' cellspacing='1' align="center" class="tabody">
				<tr>
					<td>姓名</td>
					<td><input type="text" name="name" value="{$dealer_info.0.name ?? ''}"></td>
				</tr>
				<tr>
					<td>性别</td>
					<td>
						{eq name="dealer_info['0']['sex']" value="2"}
						<input type="radio" name="sex"  value="1">男
						<input type="radio" name="sex" checked value="2">女
						{else/}
						<input type="radio" name="sex" checked value="1">男
						<input type="radio" name="sex" value="2">女
						{/eq}
						
					</td>
				</tr>
				<tr>
					<td>手机号</td>
					<td>
						<input name="phone" type="number" value="{$dealer_info.0.phone ?? ''}">
					</td>
				</tr>
				 
				<tr>
					<td>项目</td>
					<td> 
						<select name="project_id" class="ProJect">
							<option value="0">==请选择==</option> 
							{foreach name="ProjectName" item="v"}
								<option value="{$v.id}"  {if condition="($dealer_info[0]['project_id'] ==$v.id) "} selected {/if} >{$v.project_name}</option>
							{/foreach}
						</select>
					</td>
				</tr>
				<tr>
					<td>车系/车型</td>
					<td>
						{if condition="!empty($dealer_info[0]['car_series_id'])"}
							{$dealer_info[0]['car_series_id']}
						{else/} 
							<select name="car_series_id[]" class="GetCar">
								<option value="0">==请选择==</option>
								{foreach name="data" item="v"}
									<option value="{$v.brand_id}">{$v.brand_name}</option>
								{/foreach}
							</select>
						{/if}
					</td>
				</tr>
				<tr>
					<td>购车时间</td>
					<td>
						<select name="buy_car_time" > 
							{foreach name="buytime" item="mv"}
								<option value="{$mv.id}"  {if condition="($dealer_info[0]['buy_car_time'] == $mv.id) "} selected {/if} >{$mv.timename}</option> 
							{/foreach}
							 
						</select>
						<!--<input type="text" name="car_time" class="inline laydate-icon" id="start"  value="{$dealer_info.0.car_time ?? ''}">-->
					</td>
				</tr>
				<tr>
					<td>选择经销商</td>
					<td>
						{if condition="!empty($dealer_info[0]['dealer_name'])"}
							{$dealer_info[0]['dealer_name']}
						{else/} 
							<select name="dealer_name[]" class="GetDealer">
								<option value="">==请选择==</option>
							{foreach name="DealerData" item="v"}
								<option value="{$v.dealer_id}">{$v.dealer_name}</option>
							{/foreach}
							</select>
						{/if}
						
					</td>
				</tr>
				<tr>
					<td colspan="2" class="midum">
						<input class="getSubmit" type="submit" value="提交">
						<input type="reset" class="getReset" value="重置"/>
					</td>
				</tr>
			</table>
		</form>
	</div>
</body>
</html>
<script type="text/javascript" src="javascript/time/js/laydatetime.js"></script>
<script type="text/javascript" src="javascript/skin/js/jquery-3.0.0.js"></script>
<script>
 $(function(){

	
	//项目更改
	$(document).on('change','.ProJect',function(){
         var project_id = $(this).val();
         var _this = $(this);
         // alert(_this);
         
         $.ajax({
             type : 'get',
             url  : "{:url('ProjectCar')}",
             data : {project_id : project_id},
             dataType : "json",
             success : function(msg){
	             // alert($.type(msg));
	              //var thetype = $.type(msg);
	              //if(thetype=="object"){
	                 
	              //}
                 //console.log(msg);
                 //console.log(msg.length);
                 if(msg.length){
	                var str = "";
                   
                    $(msg).each(function(k,v){
                    str +="<option value="+v.brand_id+">"+v.brand_name+"</option>"
                    })
                 
                    $(".GetCar").nextAll().remove();
                    $(".GetCar").html(str);
                    
                 }

             }
         })
     })
 	//车系车型 click
     $(document).on('click','.GetCar',function(){ 
         var brand_id = $(this).val();
         var _this = $(this);
         // alert(_this);
         //console.log(brand_id);
         if(brand_id>0){
		    $.ajax({
	             type : 'get',
	             url  : "{:url('CarClass')}",
	             data : {brand_id : brand_id},
	             dataType : "json",
	             success : function(msg){
	                 //alert($.type(msg));
	                 //console.log(msg);
	                 if(msg.length){
	                    var str = "<select class='GetCar' name='car_series_id[]'>";
	                    $(msg).each(function(k,v){
	                    str +="<option value="+v.brand_id+">"+v.brand_name+"</option>";
	                    });
	                    str += "</select>";
	                    _this.nextAll().remove();
	                    _this.after(str);
	                 }else{
		                _this.nextAll().remove(); 
	                 }

	             }
	         })
         }else{
	         _this.nextAll().remove();
         }
        
     })

     //经销商
      $(document).on('click','.GetDealer',function(){
         var dealer_id = $(this).val();//当前id
         var proid = $("select[name='project_id']").val(); //获取项目id
         //console.log(proid);
         var _this = $(this);
         // alert(dealer_id);
         $.ajax({
             type : 'get',
             url  : "{:url('GetDealer')}",
             data : {dealer_id : dealer_id,proid:proid},
             dataType : "json",
             success : function(msg){
                 if(msg.length < 1){
                 	 _this.nextAll().remove();
                 }
                 
                 if(msg.length){
                    var str = "<select name='dealer_name[]' class='GetDealer'>";
                    $(msg).each(function(k,v){
                    str +="<option value="+v.dealer_id+">"+v.dealer_name+"</option>"
                    })
                    str += "</select>";
                    _this.nextAll().remove();
                    _this.after(str);
                 }

             }
         })
     }) 

     

		 
  })
</script>