<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>竞彩列表</title>
<base href="__PUBLIC__/">
<link rel="stylesheet" type="text/css" href="javascript/skin/css/base.css">
<link rel="stylesheet" type="text/css" href="javascript/skin/css/content.css">
</head>
<body leftmargin="8" topmargin="8" background='skin/images/allbg.gif'>

 
<!--  内容列表   -->
<form name="form2">

<table width="98%" border="0" cellpadding="2" cellspacing="1" bgcolor="#D1DDAA" align="center" style="margin-top:8px">
	<tr bgcolor="#E7E7E7">
		<td height="24" colspan="10" background="javascript/skin/images/tbg.gif">
			&nbsp;项目名称:&nbsp;东标竞猜&nbsp;&nbsp;&nbsp;&nbsp;  
			<a style="float:left" href="{:url('Dbjingcai/Showjc',['enews'=>'3','id'=>$proid])}"><div class="outbutlef  {$allout?='ckback'} ">&nbsp;  全 部  &nbsp;</div></a> 
			<a style="float:left" href="{:url('Dbjingcai/Showjc',['enews'=>'1','id'=>$proid])}"><div class="outbutlef {$yxenews?='ckback'}">&nbsp; 真实 &nbsp;</div></a> 
			<a style="float:left" href="{:url('Dbjingcai/Showjc',['enews'=>'2','id'=>$proid])}"><div class="outbutlef {$llenews?='ckback'}">&nbsp; 虚假 &nbsp;</div></a>
			 
			<a style="float:right" href="{:url('Excel/Dbpriceoutput',['proid'=>$proid,'enewsid'=>$enewsid])}"> <div class="outbut"> &nbsp;导 出 &nbsp;</div></a>
			&nbsp;&nbsp;&nbsp;
		</td>
		 
	</tr>
	<tr align="center" bgcolor="#FAFAF1" height="22">
		<td >ID</td> 
		<td >用户手机号</td>
		<td >用户名称</td>
		<td >竞猜价格</td>
		<td >时间</td> 
		<td >真实/虚假</td>  
		<td >操作</td>  
	</tr>

	{foreach name="data" item="v"}
		<tr align='center' bgcolor="#FFFFFF" onMouseMove="javascript:this.bgColor='#FCFDEE';" onMouseOut="javascript:this.bgColor='#FFFFFF';" height="22" >
			<td>{$v.id}</td> 
			<td>{$v.phone}</td> 
			<td>{$v.name}</td>  
			<td >{$v.price}</td>
			<td >{:date('Y-m-d H:i:s',$v.time)}</td>
			<td >{$v.type? '虚拟' : '真实'}</td> 
			<td >{if condition="$delopt"}
					<a onclick="return confirm('确认删除？');" href="{:url('Dbjingcai/Deljcprice',['v_id'=>$v.id,'u_id'=>$v.userid])}">删除</a> 
				{/if} 
			</td>
		</tr>
	{/foreach}

	<tr align="right" bgcolor="#EEF4EA">
		 
		<td height="36" colspan="10" align="center" class="pageinfo">  {$page} </td>
	</tr>
</table>

</form>

</body>
</html>